*/*/hdl/*.bak

#Quartus project files
*/*/synthesis/*

# Simulation related files
*/*/simulation
*/*/testbenches/*.vcd
*/*/testbenches/*.vvp
*/*/testbenches/*/*.vcd
*/*/testbenches/*/*.vvp

Lab_Template
